/* styles/Header.css */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: -webkit-fill-available; /* For WebKit-based browsers like Chrome, Safari */
    width: fill-available; /* For most modern browsers */
    width: -moz-available; /* For Firefox */
    padding: 2rem 2rem;
    font-family: var(--quicksand), sans-serif;
    font-weight: 600;
    font-size: var(--l-font-size);
    letter-spacing: 0.05rem;
    background-color: white;
    z-index: 100000 !important;
}

.header.transparent {
    position: relative;
    color: transparent;
    background-color: transparent;
    z-index: 1 !important;
}

.logo {
    display: flex;
    align-items: center;
    overflow: hidden;
    z-index: 20;
}

.logo a {
    text-decoration: none;
    color: inherit;
}

.menu {
    cursor: pointer;
    z-index: 20;
    transition: color 0.3s ease-in-out;
}

.menu:hover {
    color: rgba(0, 0, 0, 0.5);
}
  
.expand-text {
    display: inline-flex;
    align-items: center;
}
  
.letter {
    display: inline-block;
    position: relative;
}
  
.letter-rest {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    transition: width 0.3s ease-in-out;
    opacity: 0;
}
  
.expand-text.hovered .letter-rest.malena {
    width: 63px; /* Adjust based on actual size */
    opacity: 1;
    margin-right: 10px;
}
  
.expand-text.hovered .letter-rest.hermo {
    width: 58px; /* Adjust based on actual size */
    opacity: 1;
}

@media (max-width: 926px) {
    .letter-rest.malena {
        width: 63px; /* Adjust based on actual size */
        opacity: 1;
        margin-right: 10px;
    }
    .letter-rest.hermo {
        width: 58px; /* Adjust based on actual size */
        opacity: 1;
    }
}
