@import url('./styles.css');

body {
  margin: 0;
  font-family: var(--akzidenz); /* 'Helvetica Neue',*/
  font-stretch: 100%;
  font-kerning: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
