@import url('./styles.css');

body {
  margin: 0;
  font-family: var(--neue-haas-roman); /* 'Helvetica Neue',*/
  font-stretch: 100%;
  font-kerning: auto;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: 0.1rem;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
