/* NotFound.css */
.not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 176px);
    text-align: center;
}

.not-found h1 {
    font-size: 2.5rem;
    font-weight: 400;
}

.not-found a {
    margin: 1rem 0;
    font-size: 1.2rem;
    text-decoration: none;
    color: inherit;
    text-decoration: underline;
}

.not-found a:hover {
    font-weight: 500;
}

