/* ProjectPage.css */

.project-page {
    padding: 20px;
    max-width: 100%;
    min-height: calc(100vh - 176px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
}
  
.project-page img {
    max-width: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
    image-rendering: auto;
}
  
.project-page h3 {
    font-size: var(--l-font-size);
    margin-bottom: 1rem;
    font-weight: 400;
}
  
.project-page p {
    font-size: 1.2rem;
}
  