@font-face {
    font-family: "Neue-Haas-Roman";
    src: local("Neue-Haas-Roman"), url("./fonts/NeueHaasDisplay-Roman.woff2") format('woff2'),
                                   url("./fonts/NeueHaasDisplay-Roman.eot") format('eot'),
                                   url("./fonts/NeueHaasDisplay-Roman.woff") format('woff'),
                                   url("./fonts/NeueHaasDisplay-Roman.ttf") format('truetype'); 
}
@font-face {
    font-family: "Neue-Haas-Bold";
    src: local("Neue-Haas-Bold"), url("./fonts/NeueHaasDisplay-Medium.woff2") format('woff2'),
                                  url("./fonts/NeueHaasDisplay-Medium.eot") format('eot'),
                                  url("./fonts/NeueHaasDisplay-Medium.woff") format('woff'),
                                  url("./fonts/NeueHaasDisplay-Medium.ttf") format('truetype'); 
}
:root {
    /* -----Fuentes---- */
    --neue-haas-roman: "Neue-Haas-Roman", "Helvetica", sans-serif;
    --neue-haas-bold: "Neue-Haas-Bold", "Helvetica", sans-serif;
    --zirkon: "GT-Zirkon-Regular", "Inter", sans-serif;
    --quicksand: "Quicksand", sans-serif;

    /*------Tamaño de Fuentes----*/
    --xs-font-size: 1rem;
    --s-font-size: 1.175rem;
    --m-font-size: 1.2rem;
    --l-font-size: 1.375rem;
    --xl-font-size: 1.5rem;
    --xxl-font-size: 2rem;
}